@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* ---------- LIGHT THEME (default) ---------- */
:root {
  --foreground: #000000;
  --background: #f8f6f6;
}

/* ---------- DARK THEME ---------- */
.dark {
  --foreground: #e5e7eb;
  --background: #0d1117;
}

/* ---------- Apply globally ---------- */
html,
body {
  color: var(--foreground);
  background-color: var(--background);
}

/* ---------- Scrollbar ---------- */
* {
  scrollbar-width: thin;
  scrollbar-color: theme(--color-gray-400) theme(--color-gray-100);
}

/* ---------- Error animation ---------- */
.error {
  border-color: red;
  animation: jiggle 0.2s ease-in-out;
}

@keyframes jiggle {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
